  
<%- include('./partials/header.ejs') %>
<main>
    <section>
        
  

        <div class="tests content">
            <h2>Todos los Tests</h2>
            <% if (tests.length > 0) { %>
            <% tests.forEach(test => { %>
          
           <h3 class="title"><%= test.pregunta %></h3>
            <ol>
                <li><%= test.respuesta1 %></li>
                <li><%= test.respuesta2 %></li>
                <li><%= test.respuesta3 %></li>
                <li><%= test.respuesta4 %></li>
            </ol>
            
            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>
          
        </div>
          

        <div class="user content">
            <h2>Users</h2>
            <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
            <h3 class="title"><%= user.name %></h3>
            <ol>
                
                <li><input type="radio" name=<%= user.name %>>
                    <label for="name"> <%= user.name %> </label></li>
                <li><input type="radio" name=<%= user.email %>>
                    <label for="email"> <%= user.email %> </label></li>
                <li><input type="radio" name=<%= user.password %>>
                    <label for="password"> <%= test.password %> </label></li>
                <li><input type="radio" name=<%= user.age %>>
                    <label for="age"> <%= user.age %> </label></li>
              
        </div>

    </section>
</main>
<%- include('./partials/footer.ejs') %>