<html lang="es">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <% if (preguntas.length > 0) { %>
      <% tests.forEach(test => { %>
        <b><%= pregunta.pregunta %></b>
        <ol>
        <li><i><%= pregunta.respuesta1 %></i></li>
        <li><i><%= pregunta.respuesta2 %></i></li>
        <li><i><%= pregunta.respuesta3 %></i></li>
        <li><i><%= pregunta.respuesta4 %></i></li>
        </ol>
      <% }) %>
    <% } else { %>
      <p>¡No hay ninguna pregunta!</p>
    <% } %>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>